"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
${custom.git_branch_dynamic}\
$git_status\
$c\
$cmake\
$golang\
$java\
$kotlin\
$lua\
$nodejs\
$python\
$rust\
$swift\
$php\
$cmd_duration\
$line_break\
$character"""

[aws]
symbol = " "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[directory]
read_only = " 󰌾"
style = "blue bold"
truncate_to_repo = false
truncation_length = 0

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_branch]
disabled = true
symbol = " "
# format = "[$symbol$branch]($style) "

[custom.git_branch_dynamic]
description = "Branch name colorato in base allo stato (Clean=Verde, Dirty=Arancio, Ahead=Giallo)"
command = """
BRANCH=$(git branch --show-current 2>/dev/null)
# Controlliamo lo stato grezzo (porcelain)
STATUS=$(git status --porcelain 2>/dev/null)
# Controlliamo l'header per vedere se siamo 'ahead'
HEADER=$(git status --porcelain -b 2>/dev/null)

if [ -n "$STATUS" ]; then
    # CASO 1: MODIFICHE PENDING O STAGED (Dirty)
    # Colore Arancione (ANSI 208)
    echo -e "\\e[1;38;5;208m $BRANCH\\e[0m"
elif [[ "$HEADER" == *"ahead"* ]]; then
    # CASO 2: COMMITTATO MA NON PUSHATO (Ahead)
    # Colore Giallo
    echo -e "\\e[1;33m $BRANCH\\e[0m"
else
    # CASO 3: WORKING TREE PULITO E SINCRONIZZATO
    # Colore Verde
    echo -e "\\e[1;32m $BRANCH\\e[0m"
fi
"""
when = "git rev-parse --is-inside-work-tree 2> /dev/null"
shell = ["bash", "--noprofile", "--norc"]
format = "[$output]($style) "

[git_commit]
tag_symbol = '  '

[git_status]
disabled = true
style = "214"
deleted = "✘"
modified = ""
staged = ""
renamed = "»"
untracked = ""
conflicted = ""
ahead = "⇡"
behind = "⇣"
diverged = "⇕"
up_to_date = ""

[cmd_duration]
disabled = true

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "
style = "green"
format = "[$symbol$version]($style) "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "
